<!DOCTYPE html>
<!-- page.html -->
<title>Yongpeng Cao</title>
<body style="background-color: black"></body>
<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .centered-link {
    text-align: center;
  }

  .centered-link img {
    max-width: 100%;
    max-height: 100%;
  }
</style>

{% if site.icon.size <= 4 %}
  <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.icon }}</text></svg>">
{% elsif site.icon != blank %}
  <link rel="shortcut icon" href="{{ site.icon | prepend: '/assets/img/' | relative_url | bust_file_cache}}"/>
{% endif %}

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url | bust_css_cache }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

<div class="centered-link">
  <a href="about">
    <img src="../assets/img/start.gif" alt="Shiny Portal">
  </a>

  <article>
    {{ content }}
  </article>
</div>
